<div class="expander-wrapper">
	<div data-property-name={{ property }} class="expander">
		<div class="expander-content" data-content-container></div>
		<div class="expander-ove"
	</div>
</div>

<style>
	.expander-wrapper {
		position: relative;

	}

	.expander {
		background: var(--background-color);
		position: absolute;
		inset: 0;
		opacity: 1;
		top: 8px;
		z-index: 1;
		height: min-content;
	}

	.expander-content {
		background-color: white;
		color: var(--black);
		mix-blend-mode: difference;
	}

	.expander-content > * {
		padding-top: 1rem;
		padding: 16px;
	}
</style>
