<div class="inverted-border-wrapper">
	<div class="inverted-border-title one" aria-hidden="true">
		CSS
		<br >Triggers
	</div>

	<div class="inverted-border-container">
		{% for i in range(3) %}
			<div></div>
		{% endfor %}
	</div>

	<h1 class="inverted-border-title two" aria-label="CSS Triggers">
		CSS
		<br >Triggers
	</h1>
</div>

<script type="module">
	import { gsap } from 'gsap';

	const children = document.querySelectorAll('.inverted-border-container > div');
	const container = document.querySelector('.inverted-border-container');

	gsap.fromTo(container, {
		duration: 1,
		scale: 0.9,
		opacity: 0,
		ease: 'power3.inOut',
	}, {
		scale: 1,
		opacity: 1,
	});

	gsap.from(children, {
		duration: 1,
		scale: 0,
		stagger: 0.2,
		ease: 'power3.inOut',
	});
</script>
