<div class="key-grid">
	<div class="stack">
		<div class="key-item">
			<div class="key-grid-layout key-grid-square"></div>
			<p>
				Layout
			</p>
		</div>
		<div class="key-item">
			<div class="key-grid-paint key-grid-square"></div>
			<p>
				Paint
			</p>
		</div>
		<div class="key-item">
			<div class="key-grid-composite key-grid-square"></div>
			<p>Composite</p>
		</div>
	</div>
	<div>
		<div class="key-item">
			<p class="key-engine">
				B
			</p>
			<p>
				Blink (Chromium)
			</p>
		</div>
		<div class="key-item">
			<p class="key-engine">G</p>
			<p>Gecko (Firefox)</p>
		</div>
		<div class="key-item">
			<p class="key-engine">W</p>
			<p>Webkit (Safari)</p>
		</div>
	</div>
</div>
