<template id="reveal-wrapper-template">
	<div>
	<div class="reveal-wrapper-background"></div>
		<div class="reveal-wrapper">
			<div class="text">
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
			</div>
		</div>
	</div>
</template>

<div class="container"></div>
