<div class="mega-wrapper">
<div class="slot-machine">
	<div class="text-container">
		<p class="hidden">Name</p>
		<div class="slot slot-one">
			<p>Name</p>
			<p>Name</p>
			<p>Name</p>
			<p>Name</p>
		</div>
	</div>
	<div class="text-container">
		<p class="hidden">Two</p>
		<div class="slot slot-two">
			<p>Two</p>
			<p>Two</p>
			<p>Two</p>
			<p>Two</p>
		</div>
	</div>
</div>
</div>

<style>
	.slot-machine {
		overflow: hidden;
		display: flex;
		gap: 16px;
		position: relative;
		font-size: 32px;
	}

	.slot-machine .hidden {
		visibility: hidden;
	}

	.text-container {
		position: relative;
	}

	.slot-machine p {
		font-family: var(--font-family-display);
		font-weight: bold;
		transition: transform 0.5s;
	}

	.slot-machine .slot {
		position: absolute;
		transition: transform 0.5s;
	}

	.slot-machine .text-container:first-child .slot {
		top: 0;
	}

	.slot-machine:hover .text-container:first-child .slot {
		transform: translateY(-75%);
	}

	.slot-machine .text-container:last-child .slot {
		bottom: 0;
	}

	.slot-machine:hover .text-container:last-child .slot {
		transform: translateY(75%);
	}
</style>

<script type="module">
	function resizeTextToFit(container) {
			const slotContainer = document.querySelector('.mega-wrapper');
			let fontSize = 0;
			container.style.fontSize = `${fontSize}px`;

			while (container.scrollWidth <= slotContainer.clientWidth && fontSize < 200) {
				fontSize += 5;
				container.style.fontSize = `${fontSize}px`;
			}

			container.style.fontSize = `${fontSize - 5}px`;
	}

	const slotContainer = document.querySelector('.mega-wrapper');

	const observer = new ResizeObserver(entries => {
		for (let entry of entries) {
			const container = document.querySelector('.slot-machine')
			resizeTextToFit(container);
		}
	});

	observer.observe(slotContainer);
</script>
