@font-face {
	font-family: 'ClashDisplay';
	font-display: fallback;
	src: url('fonts/ClashDisplay-Variable.woff2') format('woff2');
	font-weight: 100 900;
	font-stretch: 75% 125%;
	unicode-range: U+0020-007F,
		/* Basic Latin */
		U+0080-00FF,
		/* Latin-1 Supplement */
		U+0100-017F,
		/* Latin Extended-A */
		U+0180-024F;
	/* Latin Extended-B */
}

/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-display: 'ClashDisplay', var(--font-family);
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #dad8d8;

	/* --black: black; */
	/* --black: black; */
	--white: white;
	--black: #0e1111;
	--red:  #cc000d;
	--purple: #5900cc;
	--blue: #242bff;

	--background-color: var(--black);

	--text-color: var(--color-gray-90);
	--text-color-link: var(--black);

	--bezier-eioq: cubic-bezier(0.455, 0.030, 0.515, 0.955);
	--bezier-eioc: cubic-bezier(0.545, 0.045, 0.455, 1.000);

	--bezier: var(--bezier-eioc);

	--stack-gap: 16px;
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--black);
}

body {
	transition: background-color 0.4s;
}

html {
	overflow-y: scroll;
}

h1, h2, h3 {
	font-family: var(--font-family-display);
}

h2 {
	letter-spacing: 2px;
}

.stack {
	display: flex;
	flex-direction: column;
	gap: var(--stack-gap);
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}

p {
	line-height: 1.5;
	margin: 0;
}


.main-content p {
	font-size: 1.2rem;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--white);
	mix-blend-mode: difference;
}

main :first-child {
	margin-top: 0;
}

header {
	border-bottom: 1px dashed var(--color-gray-20);
}

header:after {
	content: "";
	display: table;
	clear: both;
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

table {
	margin: 1em 0;
}

table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}

pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375;
	/* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}

code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	gap: 1em .5em;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
}

.home-link {
	font-size: 1em;
	/* 16px /16 */
	font-weight: 700;
	margin-right: 2em;
}

.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

.nav-item {
	display: inline-block;
	margin-right: 1em;
}

.nav-item a[href]:not(:hover) {
	text-decoration: none;
}

.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}

.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}

.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}

.postlist-date,
.postlist-item:before {
	font-size: 0.8125em;
	/* 13px /16 */
	color: var(--color-gray-90);
}

.postlist-date {
	word-spacing: -0.5px;
}

.postlist-link {
	font-size: 1.1875em;
	/* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: .25em;
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}

.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}

.postlist-item>.post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}

.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}

a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}

a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}

a[href].header-anchor:focus,
:hover>a[href].header-anchor {
	color: #aaa;
}

h2+.header-anchor {
	font-size: 1.5em;
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 32px;
}

.children-content {
	max-width: 70ch;
	transform: translate(0px, 0px);
	margin-inline: auto;
}

.main-content {
	padding: 16px;
}

.sidebar {
	display: none;
}

@media (min-width: 700px) {
	.grid {
		grid-template-columns: 250px 1fr;
	}

	.sidebar {
		display: block;
	}
}


.expander-wrapper {
	position: relative;

}

.expander {
	background: var(--background-color);
	position: absolute;
	inset: 0;
	opacity: 1;
	transform: translateY(16px);
	z-index: 1;
	height: min-content;
}

.expander-content {
	background-color: white;
	color: var(--black);
	mix-blend-mode: difference;
}

.expander-content > * {
	padding-top: 1rem;
	padding: 16px;
}


section {
	margin-bottom: 4rem;
}


.content-title {
	align-self: center;
}

.row {
	display: flex;
	justify-content: space-between;
	gap: 12px;
}

.content-grid {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 32px;
	align-items: end;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.subtitle {
	margin-bottom: 0.6rem;
	font-family: var(--font-family-display);
	font-size: 1.2rem;
	font-weight: 500;
}

.content-list .square {
	width: 24px;
	aspect-ratio: 1/1;
	background: var(--square-bg, var(--black));
}

.content-list {
	cursor: pointer;
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	text-align: inherit;
	font: inherit;
	border-radius: 0;
	position: relative;
}

.content-list::after {
	content: '';
	display: block;
	position: absolute;
	inset: 0;
	background: var(--white);
	opacity: 0;
	transition: opacity 0.1s;
}

.content-list:hover::after {
	opacity: 0.1;
}

.content-list:active::after {
	opacity: 0.4;
}

.content-list.selected::after {
	opacity: 1;
}

.row .engine {
	font-family: var(--font-family-display);
	font-weight: bold;
	margin-bottom: 0;
	align-self: center;
}

.expander-content .property {
	font-family: monospace;
}

.expander-content .engine {
	text-transform: capitalize;
}


.content-list {
	list-style: none;
	padding-left: 0;
	margin: 0;
	border: 2px solid var(--white);
}

.content-list .square.layout.is-valid-true {
	--square-bg: var(--red);
}

.content-list .square.paint.is-valid-true {
	--square-bg: var(--purple);
}

.content-list .square.composite.is-valid-true {
	--square-bg: var(--blue);
}


.key-grid {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 32px;
	align-items: center;
	justify-content: flex-start;
	padding-block: 64px;
}

.key-grid-square {
	width: 32px;
	aspect-ratio: 1/1;
	border: 2px solid white;
	background: var(--square-bg);
}

.key-item {
	display: flex;
	gap: 8px;
	align-items: center;
}

.key-item:nth-child(1) {
	--square-bg: var(--red);
}

.key-item:nth-child(2) {
	--square-bg: var(--purple);
}

.key-item:nth-child(3) {
	--square-bg: var(--blue);
}

p.key-engine {
	font-size: 1.9rem;
	font-weight: bold;
	font-family: var(--font-family-display);
}

.inverted-border-wrapper {
	position: relative;
	width: 100%;
	padding: 32px;
	font-size: clamp(1.6rem, 1.2rem + 4vw, 5.8147rem);
}

.inverted-border-container {
	margin-inline: auto;
	border: 4px solid var(--color-gray-20);
	height: 100%;
	transform: translate(0px, 0px);
	width: 160px;
	aspect-ratio: 1/2;
	display: flex;
	flex-direction: column;
	opacity: 0;
}

.inverted-border-container > div:nth-child(1) {
	flex: 1;
	background-color: var(--red);
}

.inverted-border-container > div:nth-child(2) {
	flex: 1;
	background-color: var(--purple);
}

.inverted-border-container > div:nth-child(3) {
	flex: 1;
	background-color: var(--blue);
}

.inverted-border-title {
	position: absolute;
	font-family: var(--font-family-display);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	color: var(--color-gray-20);
	transition: transform 0.4s;
	transform: scale(1);
}

.inverted-border-wrapper:has(.inverted-border-title.two:hover) .inverted-border-title.one {
	transform: scale(0.92);
}

.inverted-border-title.one {
	mix-blend-mode: difference;
}

.inverted-border-title.two {
	transform: scale(1.02);
}

.inverted-border-title.two:hover {
	transform: scale(1.1);
}

.inverted-border-title {
	margin: 0;
}

@media (min-width: 700px) {
	.inverted-border-container {
		width: min(100%, 300px);
	}
}

.reveal-wrapper {
	position: fixed;
	inset: 0;
	left: 8px;
	display: flex;
	animation: content-reveal 1s forwards var(--bezier);
	width: clamp(250px, 30vw, 500px);
	white-space: nowrap;
	font-size: 16px;
}

.reveal-wrapper-background {
	position: fixed;
	width: 100%;
	inset: 0;
	background: var(--background-color);
	animation: content-reveal 1s forwards var(--bezier);
	transition: background-color 0.3s;
}

.reveal-wrapper .text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-weight: bold;
}

.reveal-wrapper p {
	font-family: var(--font-family-display);
}

.content-exit-animation {
	animation: content-exit 1s forwards var(--bezier);
}

@media (prefers-reduced-motion: reduce) {
	.reveal-wrapper {
		animation: fade-in 0.5s forwards;
	}

	.reveal-wrapper-background {
		animation: fade-in 0.5s forwards;
	}

	.content-exit-animation {
		animation: fade-out 0.5s forwards;
	}
}

@keyframes content-reveal {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes content-exit {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-100%);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
