<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Add the contents of a file to the bundle #}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}

		<script type="importmap">
			{
				"imports": {
					"gsap": "https://ga.jspm.io/npm:gsap@3.12.5/dist/gsap.js"
				}
			}
		</script>

		<!-- ES Module Shims import maps polyfills -->
		<script async src="https://ga.jspm.io/npm:es-module-shims@1.10.0/dist/es-module-shims.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<template id="layout-copy">
			<p>Changing <span class="property"></span> in <span class="engine"></span> alters the geometry of the element. That means that it may affect the position or size of other elements on the page, both of which require the browser to perform layout operations.</p>
			<p>Once those layout operations have completed any damaged pixels will need to be painted and the page must then be composited together.</p>
		</template>

		<template id="paint-copy">
			<p>Changing <span class="property"></span> in <span class="engine"></span> does not trigger any geometry changes, which is good. But since it is a visual property, it will cause painting to occur. Painting is typically a super expensive operation, so you should be cautious.</p>
			<p>Once any pixels have been painted the page will be composited together.</p>
		</template>

		<template id="composite-copy">
			<p>Changing <span class="property"></span> in <span class="engine"></span> property does not trigger any geometry changes or painting, which is very good. This means that the operation can likely be carried out by the compositor thread with the help of the GPU.</p>
		</template>

		<template id="none-copy">
			<p>There's no data to determine which stage of the rendering pipeline <span class="property"></span> in <span class="engine"></span> triggers.
			<p>If you have up-to-date data for this property, then please open an issue in GitHub</p>
		</template>

		<main>
			{{ content | safe }}
		</main>
	</body>
</html>
