---
layout: layouts/base.njk
---

<div class='grid'>
	<div class="sidebar">
		{% include 'sidebar.njk' %}
	</div>

	<div class="main-content">
		{% include 'inverted-border.njk' %}
		<div class="children-content">
			<div class="stack">
				<p>
					This is a remake of the OG CSS Triggers, which was created by <a href="https://x.com/aerotwist">Paul Lewis</a> and <a href="https://x.com/DasSurma">Surma</a>. This version is created by <a href="https://x.com/AndricoKaroulla">Andrico Karoulla</a>.
				</p>
				<p>
					I need your help! The browser data is out of date. If you have access to the latest browser data, then please create a <a href="https://github.com/andrico1234/css-triggers-11ty">GitHub issue</a>.
				</p>
			</div>
			{% include 'key.njk' %}
			{% include 'content.njk' %}
		</div>
	</div>
</div>
